<footer>
  <div>
    <h1>
      CMFI<br>MUSIC<br>ACADEMY
    </h1>

    <div>
      <div>
        <h3>Connect with us</h3>
        <div>
          <svg></svg>
          <svg></svg>
          <svg></svg>
        </div>
      </div>

      <div>
        <h3>Info line</h3>
        <p>(+237) 693 638 450, 675 475 757, 680 586 400</p>
      </div>

      <div>
        <h3>Email</h3>
        <p>yessiene@yahoo.fr</p>
      </div>
    </div>
  </div>

  <div>
    <p>Privacy Policy</p>
    <p>Terms of use</p>
    <p>copyright@cmfimusicacademy</p>
  </div>
</footer>